
<div class="bannerContainer">
  <div class="right">
    <form id="search">
      <div class = "aa">
          <h2>I AM LOOKING FOR...</h2>
      </div>
            <div class="row">
            <div class="search">
                <input #search type="search" placeholder="Search"  >
            </div>
            </div>
    </form>             
  </div>
    <button mat-button class="headerButtons" color="primary"  (click)="openDialog()">Register</button>
</div>


<div class="first">
  <h4>We're leaders in</h4>
</div>

<div class='second'>
    <h1>Creative Digital Requirement</h1>
</div>


<div class='third'>
    <h6>Based in surry Hills, the creative hub of Sydney we are surrounded by creativity</h6>
</div>

<div class='fourth'>
    <h6>and that reflects on the type of jobs we recruit for.</h6>
</div>

<div class ='about-btn'>
    <button  mat-button color="primary" >FIND OUT MORE ABOUT US!</button>
</div>